.pinturas .pintura{
    width: 335px;
    height: 431px;
    position: relative;
}

.pinturas .pintura .informacoes{
    position: absolute;
    background-color: aqua;
    bottom: 40px;
    left: 20px;
    color: #fff;

}
